/*
Custom Css
*/

/*------------------------------------------------------------------ Slider -------------------------------------------------------------------*/
 .cover-slides{
     height: 38vh;
}
 .slides-navigation a {
     background: #b0b435;
     position: absolute;
     height: 70px;
     width: 70px;
     top: 50%;
     font-size: 20px;
     display: block;
     color: #fff;
     line-height: 90px;
     text-align: center;
     transition: all .3s ease-in-out;
}
 .slides-navigation a i{
     font-size: 40px;
}
 .slides-navigation a:hover {
     background: #000000;
}
 .cover-slides .container{
     height: 100%;
     position: relative;
     z-index: 2;
}
 .cover-slides .container > .row {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}
 .cover-slides .container > .row {
     height: 100%;
}
 .overlay-background {
     background: #333;
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     opacity: 0.5;
}
 .cover-slides h1{
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     font-size: 64px;
     color: #fff;
}
 .cover-slides p{
     font-size: 18px;
     color: #fff;
     padding-bottom: 30px;
}
 .slides-pagination a{
     border: 2px solid #ffffff;
	 border-radius: 6px;
}
 .slides-pagination a.current{
     background: #b0b435;
     border: 2px solid #b0b435;
}
 .cover-slides p a{
     font-size: 24px;
     color: #ffffff;
     border: none;
     text-transform: uppercase;
     padding: 10px 20px;
}
/*------------------------------------------------------------------ Categories Shop -------------------------------------------------------------------*/

     .cover-slides h1{
         font-size: 28px;
    }
     .cover-slides p{
         font-size: 16px;
    }
     .cover-slides p a{
         font-size: 18px;
    }
    #slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 0px;
  width: 30px;
  height: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -99999px;
  text-align: center;
}
.slides-pagination a.current {
  background: #222;
}

@media screen and (min-width: 1024px) {
    .cover-slides{
     height: 60vh;
     min-height: 877px;
     
}
 
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .cover-slides{
     height: 50vh;
}
}

/* Styling pour les écrans de tablette en orientation portrait */
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {
    .cover-slides{
     height: 30vh;
    min-height: 310px;
}
}